.herosection{
    height: 35vh;
    width: 100%;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.herocontent{
    padding-right: 20px;
    text-align: center;
}